In [1]:
import numpy as np
import pandas as pd
from docxtpl import DocxTemplate

In [2]:
depart = pd.read_csv('depart_list.csv')
univ = pd.read_csv('univ_list.csv')

In [3]:
univ = univ.dropna(subset = ['Rank'])

In [ ]:
univ_1 = univ['Institution'].str.split(',', expand = True)

,0,1,2
0,Department of Economics,Harvard University,None
2,Economics Department,Massachusetts Institute of Technology (MIT),None
4,Department of Economics,University of California-Berkeley,None
6,Department of Economics,University of Chicago,None
8,Paris School of Economics,None,None
...,...,...,...
150,Fachbereich Wirtschaftswissenschaft,Goethe Universit?t Frankfurt am Main,None
152,Eitan Berglas School of Economics,Tel Aviv University,None
154,Economics Department,University of California-Santa Cruz (UCSC),None
156,Department of Economics,Hebrew University of Jerusalem,None
158,School of Economics,UNSW Business School,None

In [5]:
univ_1.columns = ['depart', 'school', 'ext']
del univ_1['ext']

In [6]:
univ_1.fillna({'school': 'your school'})

,depart,school
0,Department of Economics,Harvard University
2,Economics Department,Massachusetts Institute of Technology (MIT)
4,Department of Economics,University of California-Berkeley
6,Department of Economics,University of Chicago
8,Paris School of Economics,your school
...,...,...
150,Fachbereich Wirtschaftswissenschaft,Goethe Universit?t Frankfurt am Main
152,Eitan Berglas School of Economics,Tel Aviv University
154,Economics Department,University of California-Santa Cruz (UCSC)
156,Department of Economics,Hebrew University of Jerusalem
158,School of Economics,UNSW Business School

In [7]:
univ_1.reset_index(inplace = True, drop = True)

In [9]:
tpl = DocxTemplate('application_template.docx')
for i in range(len(depart)):
    for j in range(len(univ_1)):
        depart_name = depart['department'].iloc[i]
        univ_name = univ_1['school'].iloc[j]
        context = {'depart':depart_name, 'univ':univ_name}
        tpl.render(context)
        string = __builtins__.str
        gen_name = '{}_{}.docx'.format(string(i),string(j))
        tpl.save(gen_name)